table th {
          widht: 10em;
          
            position: absolute;
            left: 50%;
            margin-left: -300px;
            top: 50%;
            margin-top: -300px;
         
}

   

